{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{ configuracao_site.footer_text1|default:"2025 © Velzon." }}
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    {{ configuracao_site.footer_text2|default:"Design & Develop by Themesbrand" }}
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}
