<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Condutor</th>
                <th>Veículo (Placa)</th>
                <th>Data</th>
                <th>KM Atual</th>
                <th>Tipo de Combustível</th>
                <th>Litros</th>
                <th>Valor Unitário (R$/L)</th>
                <th>Valor Total (R$)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in report_data %}
            <tr>
                <td>{{ item.condutor.nome_completo|default:"N/A" }}</td>
                <td>{{ item.item_abastecido.placa|default:"N/A" }}</td>
                <td>{{ item.data_abastecimento|date:"d/m/Y" }}</td>
                <td>{{ item.quilometragem_atual }}</td>
                <td>{{ item.tipo_combustivel }}</td>
                <td>{{ item.litros|floatformat:2 }}</td>
                <td>R$ {{ item.valor_litro|floatformat:2 }}</td>
                <td>R$ {{ item.valor_abastecido|floatformat:2 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Nenhum dado encontrado para este relatório.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
